body {
    width: 100%;
    margin: 0 auto;
    text-align: center;
    font-family: 'Roboto', sans-serif;
}

header {
    background-color: orange;
}

#topo {
    display: flex;
    padding-top: 40px;
    padding-bottom: 40px;
    margin-left: 10%;
    margin-right: 10%;
}

.logo_container {
    height: 100%;
    display: table;
    margin: auto;
}

.logo_container > h1 {
    color: white;
    height: 100%;
    display: table-cell;
    vertical-align: middle;
    font-family: 'Montserrat', sans-serif;
    font-size: 42px;
    font-weight: 200;
    transition: .5s;
}

.logo_container > h1:hover {
    font-size: 50px;
    transition: .5s;
}

.logo_container > h1 > span {
    font-weight: 800;
}

.form-area {
    margin: auto;
}

#search-txtfd {
    padding-top: 7px;
    padding-bottom: 7px;
    padding-right: 130px;
    text-align: center;
    font-size: 12pt;
}

#search-btn {
    padding: 10px 25px;
    color: white;
    font-family: 'Montserrat', sans-serif;
    border-radius: 25px;
    background-color: black;
    border-color: white;
}

#entrar-link {
    margin: auto;
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    color: black;
}

.presentation > ul {
    display: flex;
    justify-content: space-evenly;
    list-style: none;
}

.categories > h4 {
    text-align: center;
}

.categories > ul {
    list-style: none;
    text-align: center;
    display: flex;
    justify-content: space-around;
}

.relevant > h4 {
    text-align: center;
}

.relevant > ul{
    list-style: none;
    display: flex;
    justify-content: space-around;
}

footer {
    position: absolute;
    bottom: 0;
    width:100%;
    background-color: black;
    color: white;
    margin-bottom: 0;
    padding-top: 10px;
    padding-bottom: 10px;
}

.social {
    margin: 0;
    display: flex;
    justify-content: space-around;
    list-style: none;
}

.social > li {
    width: 20%;
}

#footer_icon {
    width: 1%;
    margin: 0px;
}

#copyright {
    text-align: center;
    margin: 0;
}

a {
    text-decoration: none;
}

a:visited {
    color: white;
}

figcaption {
    display: block;
    padding-top: 5px;
}