body {
    width: 100%;
    margin: 0 auto;
    text-align: center;
}

header {
    background-color: orange;
}

#topo {
    display: flex;
    padding-top: 40px;
    padding-bottom: 40px;
    margin-left: 10%;
    margin-right: 10%;
}

.logo_container {
    height: 100%;
    display: table;
    float: left;
}

.logo_container > h1 {
    color: white;
    height: 100%;
    display: table-cell;
    vertical-align: middle;
    font-family: 'Montserrat', sans-serif;
    font-size: 42px;
    font-weight: 200;
    transition: .5s;
}

.logo_container > h1:hover {
    font-size: 50px;
    transition: .5s;
}

.logo_container > h1 > span {
    font-weight: 800;
}

.form-area {
    margin-left: 10%;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
}

#search-txtfd {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 10px;
    text-align: center;
    font-size: 12pt;
}

#search-btn {
    padding: 10px 25px;
    margin-right: auto;
    font-weight: bold;
}

#entrar-link {
    margin-right: 0;
    margin-left: 10%;
    margin-top: auto;
    margin-bottom: auto;
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    color: black;
}

.presentation > ul {
    display: flex;
    justify-content: space-evenly;
    list-style: none;
}

.categories > h4 {
    text-align: start;
}

.categories > ul {
    list-style: none;
    text-align: center;
    display: flex;
    justify-content: space-around;
}

.relevant > h4 {
    text-align: start;
}

.relevant > ul{
    list-style: none;
    display: flex;
    justify-content: space-around;
}

#rodape {
    position: absolute;
    width:100%;
    background-color: black;
    color: white;
    margin-bottom: 0;
    padding-top: 10px;
    padding-bottom: 10px;
}

.social {
    display: flex;
    justify-content: space-around;
    list-style: none;
}

#copyright {
    text-align: center;
    margin-bottom: 0;
}
